extends layout

block content
    include view.html
block scripts
    script(src='/javascripts/app/api.js')
    script(src='/javascripts/app/Tool/ImageUrl.js')
    script(src='/javascripts/app/Tool/Comparator.js')
    script(src='/javascripts/app/Tool/ViewModel.js')
    script(src='/javascripts/app/ComponentSelect/Component.js')
    script(src='/javascripts/app/ComponentSelect/Project.js')
    script(src='/javascripts/app/ComponentSelect/ViewModel.js')
    script(src='/javascripts/app/Launcher.js')