doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/spin.css')
    link(rel="stylesheet", href="/stylesheets/twitter-bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/resemble/resemble.css?v1")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  body
    block content
    script(src='/javascripts/knockout/knockout-3.4.0.js')
    script(src='/javascripts/knockout/ko-hotkey.js')
    script(src='/javascripts/resemble/resemble.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    block scripts

